.alert {
  min-width: 300px;
  max-width: 300px;
  z-index: 9999;
  transition: opacity 0.3s ease;

  .alertBody {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;

    .alertContent {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .alertMessage {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;

        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  &.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  &.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
  }

  &.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }

  &.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
}

.top {
  top: 1rem;
  left: calc(50%);
  transform: translate(-50%, 0);
}

.bottom {
  bottom: 1rem;
  left: calc(50%);
  transform: translate(-50%, 0);
}

.left {
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
}

.right {
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
}

.top-left {
  top: 1rem;
  left: 1rem;
}

.top-right {
  top: 1rem;
  right: 1rem;
}

.bottom-left {
  bottom: 1rem;
  left: 1rem;
}

.bottom-right {
  bottom: 1rem;
  right: 1rem;
}
